@import url(/Components/SILK-UI-V1.css);

* {
  font-family: "Roboto", sans-serif;
}

/* Heading text */

h1 {
  font-size: 3rem;
  line-height: 3.625rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h2{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.02em;
}


h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h6 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}


/* Paragrapgh text */

.text-normal{
 font-size: 1.2rem;
 line-height: 1.7rem;
 font-weight: 400;
 letter-spacing: -0.02em;
}

.text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* Color text */

.text-pri-color {
  color: var(--primary-text-color);
}

.text-sec-color {
  color: var(--secondary-text-color);
}

.text-disabled {
  color: var(--overlay-text-color);
}

/* Text position */

.text-left {
  text-align: left;
}

.text-centre {
  text-align: center;
}

.text-right {
  text-align: right;
}



@media screen and (min-width: 640px) {
  html {
      font-size: 75%;
  }
}

@media screen and (min-width: 768px) {
  html {
      font-size: 80%;
  }
}

@media screen and (min-width: 960px)  {
  html {
      font-size: 100%;
  }
}