* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --theme-color: #490e60;
  --theme-text-color: #f7f7f7;
  --theme-hover-color: #6d3e7f;
  --primary-color: #e6e6fa;
  --primary-text-color: #490e60;
  --primary-hover-color: #cfcfe1;
  --secondary-color: #326771;
  --secondary-text-color: #071203;
  --secondary-hover-color: #28525a;
  --success-color: #84f1c9;
  --success-text-color: #1b7052;
  --danger-color: #fcc5c5;
  --danger-text-color: #dc3545;
  --warning-color: #ffe7c5;
  --warning-text-color: #ff9204;
}

.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-container {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn-primary-solid {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}

.btn-primary-solid:hover {
  background-color: var(--theme-hover-color);
}

.btn-primary-outline {
  border: 0.125rem solid var(--theme-color);
  color: var(--theme-color);
}

.btn-primary-outline:hover {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}

.underline-btn {
  margin: 1rem;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  text-decoration-thickness: 0.1875rem;
}

.btn-primary-underline {
  text-decoration-color: var(--theme-color);
}

.btn-primary-underline:hover {
  color: var(--danger-text-color);
  text-decoration-color: var(--theme-text-color);
}

.btn-primary-round {
  border-radius: 2.5rem;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}

.link-btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.link-btn:hover {
  background-color: var(--primary-hover-color);
}

.btn-icon {
  color: var(--theme-color);
}

.btn-icon:hover {
  color: var(--danger-text-color);
}

/* Secondary Button */

.btn-secondary-solid {
  background-color: var(--secondary-color);
  color: var(--theme-text-color);
}

.btn-secondary-solid:hover {
  background-color: var(--secondary-hover-color);
}

.btn-secondary-outline {
  border: 0.125rem solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn-secondary-outline:hover {
  background-color: var(--secondary-color);
  color: var(--theme-text-color);
}

.btn-secondary-underline {
  text-decoration-color: var(--secondary-color);
}
.btn-secondary-underline:hover {
  text-decoration-color: var(--danger-text-color);
}

/* Floating Buttons */

.btn-floating-round {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.btn-floating-round:hover {
  background-color: var(--theme-hover-color);
}

.btn-floating-roundcorner {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
  width: 8.3rem;
  height: 3rem;
  border-radius: 1.5rem;
}

.btn-floating-roundcorner:hover {
  background-color: var(--theme-hover-color);
}





/* Utility class for theme color */