

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


.display-container {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    align-items: center;
   
  }

  .item {
    margin-right: 2rem;
    margin-top: 2rem;
  }
  
  .avatar {
    border-radius: 50%;
    position: relative;
   }

  .badge-status{
    position: absolute;
    width: 15%;
    border-radius: 50%;
    height: 15%;
    bottom: 16%;
    right: 1%;
    border: solid 0.17rem white;
  }
  
  .avatar-xl-size {
    width: 10rem;
    height: 10rem;
  }
  
  .avatar-lg-size {
    width: 8rem;
    height: 8rem;
  }
  
  .avatar-md-size {
    width: 6rem;
    height: 6rem;
  }
  
  .avatar-sm-size {
    width: 4rem;
    height: 4rem;
  }
  
  .avatar-xs-size {
    width: 2rem;
    height: 2rem;
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    
  }
  
  .img-round {
    border-radius: 50%;
  }
  
  .badge-status-busy{
    background-color: crimson;
  }
  
  .badge-status-online{
    background-color: green;
  }

  .badge-status-away{
    background-color: yellow;
  }