<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Buttons.css">
    <script src="https://kit.fontawesome.com/4bda5328da.js" crossorigin="anonymous"></script>
    <title>Button</title>
</head>

<body>
    <div class="flex-row justify-start items-center flex-wrap m-2">
        <a class="btn btn-primary-solid">Primary-Solid</a>
        <a class="btn btn-primary-outline">Primary-Outline</a>
        <a class="underline-btn btn-primary-underline">Primary-Text</a>
        <a class="btn btn-primary-round btn-primary-outline">Primary-Round</a>
        <a href="link" class="btn link-btn btn-primary-link">Primary-Link</a>
        <a class="btn btn-icon-primary"><span class="btn-icon"><i class="fas fa-shopping-cart"></i></span></a>

    </div>

    <div class="flex-row justify-start items-center flex-wrap m-2">
        <a class="btn btn-secondary-solid">Solid</a>
        <a class="btn btn-secondary-solid github-btn">GitHub<i class="fa-brands fa-github fa-lg ml-1"></i></a>
        <a class="btn btn-secondary-outline">Outline</a>
        <a class="underline-btn btn-secondary-underline">Text-Link</a>
        <a href="link" class="btn link-btn btn-secondary-link">Link</a>
        <a class="btn btn-icon-secondary"><span class="btn-icon"><i class="fas fa-trash"></i></i></span></a>
    </div>


    <div class="flex-row justify-start items-center flex-wrap m-2">
        <a class="btn btn-floating-round flex-centre"><i class="fas fa-plus"></i></a>
        <a class="btn btn-floating-roundcorner flex-centre"><i class="fas fa-angle-double-up fa-fw"></i>Navigate</i></a>
    </div>

</body>

</html>