<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Avatar.css" />
    <title>Avatars</title>
  </head>
  <body>
    <div class="flex-centre flex-wrap justify-start m-4">
      <div class="avatar avatar-xl-size mt-2 mr-2">
        <img src="/Assets/Images/Pikachu.png" alt="avatar" class="img-cover img-round" />
      </div>

      <div class="avatar avatar-lg-size mt-2 mr-2">
        <img src="/Assets/Images/Pikachu.png"  alt="avatar" class="img-cover img-round" />
      </div>

      <div class="avatar avatar-md-size mt-2 mr-2">
        <img src="/Assets/Images/Pikachu.png" alt="avatar" class="img-cover img-round" />
      </div>

      <div class="avatar avatar-sm-size mt-2 mr-2">
        <img src="/Assets/Images/Pikachu.png"  alt="avatar" class="img-cover img-round" />
      </div>

      <div class="avatar avatar-xs-size mt-2 mr-2">
        <img src="/Assets/Images/Pikachu.png"  alt="avatar" class="img-cover img-round" />
      </div>
    </div>
  </body>
</html>
