@import url(/Components/SILK-UI-V1.css);


html{
  scroll-behavior: smooth;
}

.toast-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  width: max-content;
}

.btn-toast {
  width: 2rem;
  height: 2rem;
  background-color: var(--off-white-picture-background);
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
}

.success-color {
  background-color: var(--success-color);
  color: var(--success-text-color);
  border: 2px solid var(--success-text-color);
}

.success-btn-toast {
  background-color: var(--success-color);
}

.alert-color {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
  border: 2px solid var(--warning-text-color);
}
.alert-btn-toast {
  background-color: var(--warning-color);
}

.danger-color {
  background-color: var(--danger-color);
  color: var(--danger-text-color);
  border: 2px solid var(--danger-text-color);
}

.danger-btn-toast {
  background-color: var(--danger-color);
}
