<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="Toast.css" />
    <title>Hot Toast</title>
  </head>
  <body>
    <main class="flex-row flex-wrap m-1">
      <div class="toast-body success-color m-1">
        <i class="far fa-check-circle fa-xl ml-1"></i>
        <strong class="text-md m-1">Success Hot Toast!</strong>
        <button class="ml-2 mr-1 btn-toast success-btn-toast">
          <i class="fa-solid fa-xmark cross-mark fa-xl"></i>
        </button>
      </div>
    </main>

    <main class="flex-row flex-wrap m-1">
      <div class="toast-body alert-color m-1">
        <i class="far fa-check-circle fa-xl ml-1"></i>
        <strong class="text-md m-1">Alert Hot Toast!</strong>
        <button class="ml-2 mr-1 btn-toast alert-btn-toast">
          <i class="fa-solid fa-xmark cross-mark fa-xl"></i>
        </button>
      </div>
    </main>

    <main class="flex-row flex-wrap m-1">
      <div class="toast-body danger-color m-1">
        <i class="far fa-check-circle fa-xl ml-1"></i>
        <strong class="text-md m-1">Danger Hot Toast!</strong>
        <button class="ml-2 mr-1 btn-toast danger-btn-toast">
          <i class="fa-solid fa-xmark cross-mark fa-xl"></i>
        </button>
      </div>
    </main>
  </body>
</html>
