@import url(/Reset.css);

.image-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.responsive-image {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1.5;
  object-fit: cover;
  object-position: top center;
}

.image-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.circle-image {
  width: 7rem;
  height: 7rem;
  margin: 1rem;
  border-radius: 50%;
}

.square-image {
  width: 7rem;
  height: 7rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
