:root {
  --value-1: 0.8rem;
  --value-2: 1.6rem;
  --value-3: 2.4rem;
  --value-4: 3.2rem;
  --value-5: 4rem;
  --value-6: 4.8rem;
  --value-7: 5.6rem;
  --value-8: 6.4rem;
}

.list-style-none{
  list-style: none;
}

a{
  text-decoration: none;
}

hr{
  margin: var(--value-2) 0;
}

iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  font-size: inherit;
  display: inline-block;
}

.icon-title{
 font-family: 'Caveat', cursive;
 font-weight: bold;
 color: var(--pure-black);
}

.no-style {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--pure-white);

}