@import url(/Reset.css);
@import url(/Margin.css);
@import url(/Typography/Typography.css);

.image-wrapper {
  display: flex;
  justify-content: center;
}

.responsive-image {
  max-inline-size: 100%;
  block-size: auto;
  /* aspect-ratio: 2/1.5;
  object-fit: cover;
  object-position: top center; */
}

.image-container {
  display: flex;
  justify-content: center;
}

.circle-image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.square-image {
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;
}
