@import url(/Reset.css);
@import url(/Typography/Typography.css);
@import url(/Toast/Toast.css);

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stacked-list {
  list-style: none;
  width: max-content;
}
