@import url(/Reset.css);
@import url(/Colorvariable.css);
@import url(/Typography.css);
@import url(/Cards/Cards.css);
@import url(/Responsive-Images-Component/Responsiveimages.css);
@import url(/Buttons/Buttons.css);

/* to include in utility claSS */
.text-centre {
  text-align: center;
}

.flex-centre-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.m-0 {
  margin: 0;
}

.text-container {
  background-color: var(--off-white-picture-background);
}

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.dimension-banner-2cl {
  width: 80vw;
  box-shadow: var(--var-box-shadow);
}

.dimension-banner-3cl {
  width: 80vw;
  height: 80vh;
  box-shadow: var(--var-box-shadow);
}

.btn-banner-pos {
  top: 50%;
}

@media screen and (max-width: 750px){
    .grid-2-column{
        grid-template-columns: 1fr;
    }
    
    .grid-3-column{
        grid-template-columns: 1fr;
    }
}